<!-- Navbar -->
{{#if user}}
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">

    </li>
  </ul>
</nav>
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <div class="text-center">
    <a href="/dashboard" class="brand-link">
      <img src="img/Fondo3.png" style="display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 80%;">
      <span class="brand-text font-weight-light"></span>
    </a>
  </div>


  <!-- Sidebar -->
  <div class="sidebar">
          {{#if user}}
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{{user.perfil}}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
  
        <a href="#" class="d-block">{{user.usuario}}</a>
        {{/if}}
      </div>
    </div>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header text-center">MENÚ</li>
        <li class="nav-item ">
          <a href="#" class="nav-link ">
            <i class="nav-icon fas fa-shield-alt"></i>
            <p>
              Acceso
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/usuarios" class="nav-link ">

                <i class="fas fa-users nav-icon"></i>
                <p>Usuarios</p>
              </a>
            </li>
                 <li class="nav-item">
              <a href="/agentes" class="nav-link ">

                <i class="fas fa-users nav-icon"></i>
                <p>Agentes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/rol_user" class="nav-link">
                <i class="fas fa-user-tag nav-icon"></i>
                <p>Roles</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/depart_user" class="nav-link">
                <i class="fas fa-tag nav-icon"></i>
                <p>Departamento</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item ">
          <a href="#" class="nav-link ">
            <i class="nav-icon fas fa-archive"></i>
            <p>
              Armeria
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/ingreso_armas" class="nav-link ">
                <i class="nav-icon fas fa-angle-right"></i>
                <p>Ingreso de Armas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/egreso_armas" class="nav-link">
                <i class="nav-icon fas fa-angle-right"></i>
                <p>Egreso de Armas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/historial" class="nav-link">
                <i class="nav-icon  fas fa-calendar-check"></i>
                <p>Historial</p>
              </a>
            </li>
          </ul>
        </li>
         <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
              <li class="nav-item ">
          <a href="#" class="nav-link ">
            <i class="nav-icon fas fa-archive"></i>
            <p>
              Opciones
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
             <a href="/logout" class="nav-link">
          <i class=" nav-icon fas fa-sign-out-alt mr-2"></i> 
          <p>Salir</p>
          </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>

{{/if}}